:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 65.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    /* Roboto font vừa tải về, sans-serif chủng chữ ko chân */
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
   width: 100%;
}

.grid__row{
    display: flex; 
    flex-wrap: wrap;
    /* display: flex; nằm trên 1 hàng ngang */
    /* flex-wrap: wrap; tổng những thằng con trên 1 hàng vượt quá
    phần của .gird__row sẽ tự động xuống hàng*/
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Giúp cho hình QR hiện ra từ từ */